[tool.black]
line-length = 120
target-version = ['py312']
include = '\.pyi?$'
exclude = '''
/(
    \.git
  | \.venv
  | venv
  | env
  | migrations
  | __pycache__
)/
'''

[tool.isort]
profile = "black"
line_length = 120
skip = ["migrations", ".venv", "venv", "env", "__pycache__"]

